<h1>Login</h1>

<form action="/sessions" method="POST">
    
    <!--CREATE USERNAME-->    
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </p>

    <!--CREATE PASSWORD-->
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </p>

    <input type="submit">
</form>
